<h2 class="text-display-2 margin-bottom-XL">Box</h2>
{{component-example simpleBox }}

<p>Boxes are flex-box by default and can accept properties to define it's layout. A box can also accept a select few other style
    related properties like backgroundColor, borderRadius (TBD).
</p>

{{component-example flexBox }}