<ul>
    <li>Building blocks</li>
    <li>Accept primitive values via properties.</li>
    <li>Support a subset of CSS properties.</li>
    <li>Represented within the styleguide by xml blueprints</li>
    <li>Need to be implemented for each target framework</li>
</ul>