<h2 class="text-display-2 margin-bottom-XL">Text</h2>
{{#each examples as |example|}}
    <div class="margin-bottom-L">
        <p class="text-color-light">{{example.description}}</p>
        {{component-example example.blueprint showHtml=true}}
    </div>
{{/each}}