<h2 class="text-display-2 margin-bottom-XL">Forms</h2>
<div class="margin-bottom-L">
    <p class="text-color-light margin-bottom-S">Text input</p>
    {{component-example complex1}}
</div>
<div class="margin-bottom-L">
    <p class="text-color-light margin-bottom-S">Text input / Focused</p>
    {{component-example complex2}}
</div>
{{outlet}}