<ul>
    <li>Composed of primitive components</li>
    <li>Describe the presentation of a component</li>
    <li>Do not define any logic or behaviour, this must be done at the target level</li>
    <li>Represented within the styleguide by xml blueprints</li>
    <li>Are already implemented in the target framework, assuming the primitives have been implemented.</li>
</ul>