<div class="ew-grid-container">
    <div class="ew-grid-row container">
        <div class="ew-grid-cell ew-grid-cell-md-2 sidebar padding-v-XL">
            <ul class="list-plain">
                <li class="margin-bottom-L">
                    {{#link-to "index"}}Index{{/link-to}}
                </li>
                <li>
                    {{#link-to "colours"}}Colours{{/link-to}}
                </li>
                <li>
                    {{#link-to "layout"}}Spacing{{/link-to}}
                </li>
                <li>
                    {{#link-to "grid"}}Grid{{/link-to}}
                </li>
                <li>
                    {{#link-to "primitive-components.text"}}Text{{/link-to}}
                </li>
            </ul>
        </div>
        <div class="ew-grid-cell ew-grid-cell-md-6 ew-grid-cell-offset-md-2 main padding-v-XL">
            {{outlet}}
        </div>
    </div>
</div>