<h1 class="text-display-3 margin-bottom-XL">Colours</h1>
{{#example-color "BRAND"}}{{/example-color}}
{{#example-color "OFF_BLACK"}}{{/example-color}}
{{#example-color "MID_GREY"}}{{/example-color}}
{{#example-color "LIGHT_GREY"}}{{/example-color}}
{{#example-color "OFF_WHITE"}}{{/example-color}}