<h1 class="text-display-3 margin-bottom-L">The Grid</h1>
<div class="ew-grid-container" style="background:lightgrey;">
    <div class="ew-grid-row">
        <div class="ew-grid-cell ew-grid-cell-sm-1" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-1" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-1" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-1" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-1" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-1" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-1" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-1" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-1" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-1" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-1" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-1" style="background:grey; padding-top: 1rem;"></div>
    </div>
    <div class="ew-grid-row">
        <div class="ew-grid-cell ew-grid-cell-sm-2" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-2" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-2" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-2" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-2" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-2" style="background:grey; padding-top: 1rem;"></div>
    </div>
    <div class="ew-grid-row">
        <div class="ew-grid-cell ew-grid-cell-sm-4" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-4" style="background:grey; padding-top: 1rem;"></div>
        <div class="ew-grid-cell ew-grid-cell-sm-4" style="background:grey; padding-top: 1rem;"></div>
    </div>
</div>