<h1 class="text-display-3 margin-bottom-L">Spacing</h1>
{{#example-size "XXS"}}{{/example-size}}
{{#example-size "XS"}}{{/example-size}}
{{#example-size "S"}}{{/example-size}}
{{#example-size "M"}}{{/example-size}}
{{#example-size "L"}}{{/example-size}}
{{#example-size "XL"}}{{/example-size}}
{{#example-size "XXL"}}{{/example-size}}